<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simple book list</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bundle.css"></link>
  <script src="https://use.fontawesome.com/3b19694c5b.js"></script>
  <script src="js/bundle.js" defer></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h4 class="pull-left">
            <i class="fa fa-list-alt" aria-hidden="true"></i> Simple Book List
          </h4>
          <button id="add" type="button" class="btn btn-default pull-right">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
        <div class="table-responsive">
          <table class="table table-bordred table-striped">
            <thead>
              <th>#</th>
              <th>Title</th>
              <th>Author</th>
              <th>Price</th>
              <th>Action</th>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>